.App {
  text-align: start;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.matrixWrapper {
  margin: 20px;
  display: inline-block;
}
ul {
  padding: 0;
  margin: 0;
}
.boxWrapper {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
.dibBox {
  height: 40px;
  width: 40px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
